{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Graph{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body>
        <script src="{{ url_for('static', filename='js/lib/node_modules/chart.js/dist/chart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib/node_modules/jquery/dist/jquery.js') }}"></script>
        <select name="Team Conference" id="conference_menu" onChange="onConferenceSelection(this.value)">
            <option value="All">All Teams</option>
            <option value="East">Eastern Conference</option>
            <option value="West">Western Conference</option>
        </select>
        <div id="canvas">
            <canvas id="standings_canvas" width="1000" height="500"></canvas>
        </div>
        <script>
            // Receipt of Flask variables
            var chartJsonData = '{{ json_data | tojson | safe }}';
            var imageFolderBasePath = "{{ url_for('static', filename='img') }}"
        </script>
        <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    </body>
{% endblock %}